---

---

<section class="about" id="about">
  <h3>About</h3>
  <p>
    Are you looking for simple, beautiful, and functional dotfiles for your Arch
    Linux setup with Hyprland? Or perhaps you're facing challenges in
    customizing and optimizing your environment? If so, you've come to the right
    place! This repository is dedicated to providing a meticulously crafted set
    of configurations designed to enhance your workflow and aesthetic.
  </p>
  <p>
    With a strong focus on a TUI (Text User Interface) centric experience, these
    dotfiles offer intuitive Vim-like navigation, enabling you to manage your
    system with incredible performance and speed. Everything is optimized for
    developers and enthusiasts who appreciate minimalism and efficiency.
  </p>
  <p>
    Using the Rosé Pine color scheme, harmony, coherence, and simplicity are key
    points. With modern, calm, and healthy colors for long hours of code, it
    becomes the perfect option between beauty and visual rest.
  </p>
</section>

<style>
  .about {
    width: 100%;
    min-height: 100vh;
    padding: 1vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    text-align: center;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 25px;
    line-height: 1.8;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .about {
      padding: 5vh 5vw;
    }

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }
</style>
