---

---

<section class="philosophy" id="philosophy">
  <h3>Philosophy</h3>
  <p>
    The philosophy behind these dotfiles is guided by a few simple,
    efficiency-focused standards. They adopt a keyboard-driven approach,
    emphasizing rapid navigation by replacing the arrow keys with shortcuts like
    h/j/k/l (a common pattern derived from the Vim philosophy). They are also
    deeply inspired by the minimalist principle—where less is truly more. This
    means eliminating useless clutter and desktop icons, keeping only the
    essentials on the system bar, and primarily relying on terminal applications
    over resource-heavy GUI apps.
  </p>
  <p>
    Crucially, installation is entirely manual; there are no automatic scripts.
    This design choice reinforces the core principle of personal efficiency:
    these dotfiles are not a ready-made solution, but a highly opinionated
    starting template. Users are strongly encouraged to review, understand, and
    deliberately adjust every configuration file to perfectly align with their
    specific workflow, keybindings, and system structure. This hands-on process
    ensures that the resulting environment is truly customized and devoid of any
    unwanted settings or unnecessary software, maximizing performance and user
    comfort.
  </p>
</section>

<style>
  .philosophy {
    width: 100%;
    min-height: 100vh;
    padding: 1vh 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    text-align: center;
  }

  h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 25px;
    line-height: 1.8;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .about {
      padding: 5vh 5vw;
    }

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
  }
</style>
