---
import desktopVideo from '/src/assets/screenshots/desktop.mp4'
---

<section class="hero">
  <h1>Henriquehnnm's DotFiles</h1>
  <h2>Incredibly minimalist</h2>
  <a href="#">Clone repository</a>
  <video class="video" autoplay loop muted playsinline preload="auto">
  <source src={desktopVideo} type="video/mp4" />
</video>
</section>

<style>
  .hero {
    width: 100%;
    min-height: 100vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background: linear-gradient(45deg, var(--rp-love), var(--rp-gold));
    color: var(--rp-base);
  }

  h1 {
    font-size: 96px;
    font-family: "Stack Sans Notch", sans-serif;
    font-weight: 700;
    margin: 24px;
  }

  h2 {
    font-size: 24px;
	color: var(--rp-overlay);
  }

  a {
    display: block;
    margin-top: 80px;
	padding: 10px 20px;
	border: 1px solid var(--rp-overlay);
	border-radius: 10px;
    font-size: 22px;
    font-weight: 750;
    text-decoration: none;
    position: relative;
    color: var(--rp-overlay);
    transition: color 0.3s ease-in-out;
    background-color: transparent;
	overflow: hidden;
  }

  a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--rp-overlay);
    transition: width 0.4s cubic-bezier(0.22, 1, 0.36, 1);
  }

  a:hover::after {
    width: 100%;
  }

  video {
	border: 1px solid var(--rp-surface);
	border-radius: 10px;
	margin: 108px;
	max-width: 1000px;
	width: 90vw;
	height: auto;
	box-shadow: 0 20px 40px -10px rgba(0,0,0,0.2);
  }

  @media (max-width: 1484px) {
    h1 {
      font-size: 48px;
    }
  }

  @media (max-width: 768px) {
	h1 {
		font-size: 50px;
	}
  }
</style>
